
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.upper-point{
     background-color: rgba(255, 144, 14, 0.1);
}
   .nav-name{
    max-width: 302px;
    margin-left: 231px;
    font-size: 45px;
    font-weight: bold;
   }
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
   
}
.nav-list{
    max-width: 477px;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 63px;
    margin-right: 263px;
    
}
.btn-orange{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}
.banner-image{
    
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
}

.middle-name{
    text-align: center;
    max-width: 862px;
    margin: 0% auto;
    margin-bottom: 50px;

   
}
.middle-h3{
    font-size: 45px;
    font-weight: bold;
}
.middle-name p{
    font-size: 16px;
    color:  rgba(114, 114, 114, 1);
}


.image{
    max-width: 342px;
}
.middle-part{
    display: flex;
}
.images-togather{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-left: 50px;
}
.image-description{
    margin-top: 287px;
    margin-left: 73px;
}
.image{
    max-width: 342px;
}
.description-header{
    font-size: 45px;
    margin-bottom: 24px;
     }

span{
    
    color:rgba(114, 114, 114, 1)
}
br{
    color: rgba(255, 144, 14, 1);
}

#features{
    color: rgba(255, 144, 14, 1);
}
.description-part{
   color: rgba(114, 114, 114, 1);
   margin-bottom:32px;

}
#head-two{
    max-width: 368px;
}
.manager{
    margin-left:50px;
}
.down-part p{
    max-width:586px ;
    height: 78px;
}
.down-part{
    display: flex;
}
.box-style{
    max-width: 586px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-left:50px;
}
